/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
   
}

#pneUpper {
  -fx-border-style: solid;
  -fx-border-color: grey;
  -fx-border-width: 1px;
  -fx-background-color: linear-gradient(#CCE6FF, #99CCFF);
} 

#scrollPane {
  -fx-border-style: solid;
  -fx-border-color: grey;
  -fx-border-width: 1px; 
}

#tileMiddle {
  -fx-background-color: linear-gradient(#99CCFF, #CCFFCC);
}

#pneBottom{
  -fx-border-style: solid;
  -fx-border-color: grey;
  -fx-border-width: 1px;
} 

#anchorLower {
  -fx-background-color: #CCFFCC;
  -fx-border-style: solid;
  -fx-border-color: grey;
  -fx-border-width: 1px;    
}

.tempButton {
    -fx-background-color: #3399FF;
}

.tempButton:hover {
    -fx-background-color:
     linear-gradient(#f2f2f2, #d6d6d6),
     linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
     linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 )
}

.hbox {
   -fx-border-style: solid; 
   -fx-border-color: grey; 
   -fx-border-width: 1px;
}

#txtSearchTerm:focused {
    -fx-background-color: linear-gradient(#F1FCF1,#C7EAC7);
    -fx-border-color:#81B781;
    -fx-border-radius: 3;
}

.check-box .box {
    -fx-background-color: #94BFFF;
}

#vbox {
  -fx-background-color: linear-gradient(#CCFFCC,#E6FFE6);
}